
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

*{
  /* background-color:rgb(136, 58, 214); */
  color: rgb(202, 158, 243);/*rgb(179,131,226) see TODOs at 50proj in 50 days*/
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Kurale', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  width: 100vw;
  height: 100vh;
  background-color:rgb(210, 178, 243);
  /* opacity: 0.3; */
}
header{
  background-color:rgb(136, 58, 214);  
  width: 100vw;
position: fixed;
padding: 0.5rem;
  text-align: center;
  z-index: 10;
}
.main-nav{
  width: 100vw;
  height: 2rem;
  margin-top: 0.5rem;
padding: 0;
  /* background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.main-nav ul{
  width: 100%;
  background-color: coral;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
list-style: outside none none;
}
.main-nav__item a{
  color: rgb(187, 246, 246);
  text-decoration: none;
  font-size: 1.4rem;


}
.section-one{
  width: 100vw;
  position: relative;
  top: 12rem;
  text-align: center;

}
h1{
  background-color:rgb(136, 58, 214); 
  font-size: 5rem;
  letter-spacing: 1.5rem;
}
.hello{
  top: 10rem;
}
h2{
color: rgb(105, 17, 192);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.video_stack{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90rem;
}
.video_stack div{
  width: 25rem;
  padding: 3.5rem;
}
.video_stack div img, 
.video_stack div video {
  height: 20rem;
  padding: 0.5rem;

}
.video_stack div img:hover, 
.video_stack div video:hover {
opacity: 0.8;
z-index: 10;
}
.video_stack div img:active, 
.video_stack div video:active {
    /* transform: scaleX(-1) scaleX(102%) scaleY(102%); */
    transform:  scaleX(105%) scaleY(105%);

opacity: 0.8;
z-index: 10;
}
.brooch{
  position: relative;
  top:12rem;
  width: 100vw;
}
.brooch h1{
  text-align: center;
}
.brooch-map{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.brooch-map div{
  margin: 4rem;
  display: block;
  justify-content: center;
  align-items: center;
}

section.brooch img{
width: 17rem;  
/* height: 12rem; */
object-fit: cover;
}
.brooch p{
  color: azure;
  text-align: center;
}
.brooch_horizontal{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.brooch_horizontal div img{
padding: 1rem;
width: 33rem;
}
@media(max-height:800px) and (orientation:portrait){
  .video_stack div img {
width: 80vw;
height: auto;
opacity: 0.8;
z-index: 10;
}
h1{
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

}