
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200&display=swap');

*{
  background-color:rgb(234,201,214) ;
  color: rgb(202, 158, 243);/*rgb(179,131,226) see TODOs at 50proj in 50 days*/
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;

}
header{
  background-color:rgb(155, 126, 138) ;
  width: 100vw;
position: fixed;
padding: 0.5rem;
  text-align: center;
  z-index: 10;
}
.section-one{
  width: 100vw;
  position: relative;
  top: 12rem;
  text-align: center;

}
h1{
  background-color:rgb(155, 126, 138) ;
  font-size: 4rem;
  letter-spacing: 1.5rem;
}
.hello{
  top: 10rem;
}
h2{

  font-size: 1.5rem;
}
.video_stack{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90rem;
}
.video_stack div{
  width: 25rem;
  padding: 0.5rem;
}
.video_stack div img, 
.video_stack div video {
  height: 20rem;
  padding: 0.5rem;
}
.video_stack div img:hover, 
.video_stack div video:hover {
opacity: 0.8;
z-index: 10;
}
.video_stack div img:active, 
.video_stack div video:active {
    /* transform: scaleX(-1) scaleX(102%) scaleY(102%); */
    transform:  scaleX(105%) scaleY(105%);

opacity: 0.8;
z-index: 10;
}

@media(max-height:800px) and (orientation:portrait){
  .video_stack div img {
width: 80vw;
height: auto;
opacity: 0.8;
z-index: 10;
}
h1{
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

}
